/* 화면 꽉 채우고 중앙 정렬 */
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; /* 랜딩 페이지 전체 화면 */
  background-color: #1a1a1b; /* 배경색 */
}

/* 로고 최대 크기 제한 */
.svg-title {
  width: 100%;
  max-width: 800px;
}

/* 선 그리기 & 면 채우기 */
.svg-title path {
  fill: rgba(179, 18, 24, 0);
  stroke: #b31218;
  stroke-width: 2px; /* 스트로크 두께 */

  stroke-dasharray: 1;
  stroke-dashoffset: 1;

  animation:
    drawLine 2s ease-in-out forwards,
    fillShape 2s ease-in-out forwards;
}

/* 1번부터 7번 순서대로 딜레이 주기 */
.svg-title path:nth-child(1) {
  animation-delay: 0s;
}
.svg-title path:nth-child(2) {
  animation-delay: 0.3s;
}
.svg-title path:nth-child(3) {
  animation-delay: 0.6s;
}
.svg-title path:nth-child(4) {
  animation-delay: 0.9s;
}
.svg-title path:nth-child(5) {
  animation-delay: 1.2s;
}
.svg-title path:nth-child(6) {
  animation-delay: 1.5s;
}
.svg-title path:nth-child(7) {
  animation-delay: 1.8s;
}

/* 애니메이션 동작 정의*/
@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillShape {
  0% {
    fill: rgba(179, 18, 24, 0);
  }
  100% {
    fill: rgba(179, 18, 24, 1);
    stroke: transparent;
  }
}
