/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "tailwindcss";
/* 컬러 변수 */
@theme {
  --color-primary: #d91920;
  --color-secondary: #1a1a1b;
  --color-hover: #b31218;
  --color-active: #910f14;
  --color-disabled: #f2a7a9;
  --color-disabledGray: #adb5bd;
  --color-line: #feebeb;
  --color-light: #fff5f5;
  --color-border: #dee2e6;
  --color-subtleGray: #e9ecef;
  --color-background: #f8f9fa;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #0046ff;
  --color-green: #28a745;
  --color-yellow: #ffc107;
  --color-textMain: #212529;
  --color-textSub: #6c757d;
}

/* 폰트 변수 */
@layer utilities {
  .text-display {
    @apply font-[900] text-[40px] leading-[1.2] md:text-[40px];
  }

  .text-h1 {
    @apply font-[700] text-[26px] leading-[1.3] md:text-[32px];
  }

  .text-h2 {
    @apply font-[700] text-[21px] leading-[1.35] md:text-[24px];
  }

  .text-h3 {
    @apply font-[500] text-[18px] leading-[1.4] md:text-[20px];
  }

  .text-h4 {
    @apply font-[500] text-[16px] leading-[1.4] md:text-[18px];
  }

  .text-body-lg {
    @apply font-[400] text-[17px] leading-[1.6] md:text-[18px];
  }

  .text-body-md {
    @apply font-[400] text-[16px] leading-[1.6];
  }

  .text-body-sm {
    @apply font-[400] text-[13px] leading-[1.5] md:text-[14px];
  }

  .text-body-xs {
    @apply font-[400] text-[12px] leading-[1.4];
  }

  .text-button-lg {
    @apply font-[500] text-[18px] leading-[1] tracking-[-0.01em];
  }

  .text-button-md {
    @apply font-[500] text-[16px] leading-[1];
  }

  .text-label-bold {
    @apply font-[700] text-[14px] leading-[1] tracking-[0.02em];
  }

  .text-input {
    @apply font-[400] text-[16px] leading-[1];
  }
}

@utility scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
